.ga-maamli-regular {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}



.firstScreen{
    width: 100%;
    height: 100vh;
    position: relative;
}

.firstScreen video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 15;
}

.firstScreenBody{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.firstScreenBody .title{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.firstScreenBody .subTitle{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.wrapper{
    max-width: 990 px;
    margin: 0 auto;
    position: relative;
    z-index: ;
    background-color: #fff;
}


.wrapper.p,
.wrapperli{
    line-height: 30px ;
    margin-bottom: 15px;
}


.wrapper ul{
    list-style-position: inside;
    margin: 20px 20px 20px 20px;
}
.wrapper{
    min-width: 990 px;
    margin: 0 auto;
    padding : 15px
}


.wrapper img{
    width: 100%
    margin-bottom: 25px;
    margin: 20px 0 20px 0;
} 
